In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import math
import seaborn as sns
import matplotlib.image as mpimg

In [36]:
df=pd.read_csv("output/Aggregated_block.csv")
df.head()

,Block Name,State Name,SC Current Population,ST Current Population,GENERAL Current Population,SC Covered Population,ST Covered Population,GENERAL Covered Population,Status,SC Concentrated,ST Concentrated
0,12-SHNONG,MEGHALAYA,0,34451,323,0,29857,122,0.736486,0.000000,1.000000
1,A.KONDURU(11),ANDHRA PRADESH,10619,11199,30577,10619,11199,30577,1.000000,0.210526,0.315789
2,AASPUR DEVSARA,UTTAR PRADESH,41548,39,144603,41548,39,144603,1.000000,0.252727,0.000000
3,ABDASA,GUJARAT,12101,6495,94969,12088,6469,79292,0.815789,0.019737,0.006579
4,ABHANPUR,CHATTISGARH,34072,11203,143387,29570,9568,123265,0.000000,0.178414,0.022026

In [37]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6139 entries, 0 to 6138
Data columns (total 11 columns):
Block Name                    6139 non-null object
State Name                    6139 non-null object
SC Current Population         6139 non-null int64
ST Current Population         6139 non-null int64
GENERAL Current Population    6139 non-null int64
SC Covered Population         6139 non-null int64
ST Covered Population         6139 non-null int64
GENERAL Covered Population    6139 non-null int64
Status                        6139 non-null float64
SC Concentrated               6139 non-null float64
ST Concentrated               6139 non-null float64
dtypes: float64(3), int64(6), object(2)
memory usage: 527.6+ KB
None

In [38]:
df.drop(['Block Name','SC Covered Population','ST Covered Population',
            'GENERAL Covered Population'],axis=1)

,State Name,SC Current Population,ST Current Population,GENERAL Current Population,Status,SC Concentrated,ST Concentrated
0,MEGHALAYA,0,34451,323,0.736486,0.000000,1.000000
1,ANDHRA PRADESH,10619,11199,30577,1.000000,0.210526,0.315789
2,UTTAR PRADESH,41548,39,144603,1.000000,0.252727,0.000000
3,GUJARAT,12101,6495,94969,0.815789,0.019737,0.006579
4,CHATTISGARH,34072,11203,143387,0.000000,0.178414,0.022026
5,PUNJAB,56720,0,135762,1.000000,0.223684,0.000000
6,RAJASTHAN,7890,96041,40613,0.966337,0.019802,0.853465
7,JAMMU AND KASHMIR,131,1949,139628,0.438356,0.000000,0.041096
8,MAHARASHTRA,32048,22690,108118,0.812081,0.134228,0.241611
9,ANDHRA PRADESH,10124,17197,40426,0.953846,0.076923,0.661538
10,ANDHRA PRADESH,16707,283,48380,0.784091,0.340909,0.000000
11,UTTAR PRADESH,47584,0,110757,0.892655,0.288136,0.000000
12,UTTAR PRADESH,34757,0,150399,0.772277,0.079208,0.000000
13,TAMIL NADU,34754,1994,57239,0.889610,0.405844,0.029221
14,PUNJAB,68783,0,140912,0.370000,0.500000,0.000000
15,BIHAR,22482,382,161683,0.174419,0.081395,0.000000
16,ANDHRA PRADESH,5742,2014,40017,0.888889,0.000000,0.111111
17,ANDHRA PRADESH,23219,4980,49915,0.785714,0.238095,0.000000
18,ANDHRA PRADESH,2217,24306,13036,0.663158,0.000000,0.852632
19,BIHAR,7534,26396,21523,0.825532,0.182979,0.531915
20,ANDHRA PRADESH,8179,15262,23768,0.666667,0.099099,0.675676
21,KERALA,12290,7422,113549,0.969231,0.015385,0.046154
22,ANDHRA PRADESH,15227,507,73664,0.826087,0.043478,0.000000
23,UTTAR PRADESH,51834,299,187822,0.797753,0.151685,0.000000
24,KARNATAKA,31095,4021,141179,0.500000,0.207692,0.023077
25,ANDHRA PRADESH,6933,236,26096,1.000000,0.000000,0.020408
26,ORISSA,15117,11856,70464,0.287958,0.109948,0.104712
27,ASSAM,6708,26,122292,0.520436,0.035422,0.000000
28,MADHYA PRADESH,36664,2531,81996,0.007463,0.223881,0.007463
29,TAMIL NADU,5167,0,31361,0.851852,0.194444,0.000000
...,...,...,...,...,...,...,...
6109,ANDHRA PRADESH,8734,2651,33132,1.000000,0.086957,0.195652
6110,ANDHRA PRADESH,14213,2501,62621,0.675676,0.135135,0.081081
6111,ANDHRA PRADESH,5898,29077,20397,0.925234,0.065421,0.785047
6112,ANDHRA PRADESH,6101,134,28861,0.944444,0.000000,0.000000
6113,KARNATAKA,2556,476,57922,0.955148,0.012232,0.000000
6114,ANDHRA PRADESH,6574,3622,42196,0.741935,0.032258,0.322581
6115,ANDHRA PRADESH,12728,8690,38675,0.885714,0.142857,0.200000
6116,ANDHRA PRADESH,11384,279,56631,0.875000,0.031250,0.000000
6117,TAMIL NADU,5870,25735,8629,1.000000,0.095238,0.828571
6118,ANDHRA PRADESH,11759,4885,39302,1.000000,0.201754,0.149123
6119,ANDHRA PRADESH,14748,5067,45152,0.867925,0.094340,0.396226
6120,ANDHRA PRADESH,7462,914,60079,1.000000,0.034483,0.000000
6121,ANDHRA PRADESH,4007,857,22115,0.948357,0.201878,0.028169
6122,ANDHRA PRADESH,15179,1650,33184,0.973684,0.210526,0.052632
6123,MAHARASHTRA,21521,22362,171817,0.525316,0.050633,0.050633
6124,ANDHRA PRADESH,8735,6151,39230,0.955556,0.044444,0.333333
6125,ANDHRA PRADESH,18237,11223,72787,0.984615,0.076923,0.415385
6126,JAMMU AND KASHMIR,21,495,106619,0.349206,0.000000,0.000000
6127,UTTAR PRADESH,49551,0,202506,1.000000,0.152941,0.000000
6128,JAMMU AND KASHMIR,0,12759,2,0.891304,0.000000,0.985507
6129,MAHARASHTRA,4727,33779,43643,0.825175,0.006993,0.615385
6130,ANDHRA PRADESH,14413,1449,27999,1.000000,0.413793,0.000000
6131,MIZORAM,0,21223,1508,0.405405,0.000000,1.000000
6132,MEGHALAYA,5099,78146,12933,0.536388,0.018868,0.932615
6133,PUNJAB,35506,0,71815,0.959596,0.353535,0.000000
6134,BIHAR,19650,526,160396,0.773829,0.292407,0.003231
6135,MADHYA PRADESH,8394,165918,34288,0.389273,0.015571,0.923875
6136,ARUNACHAL PRADESH,0,15047,329,0.287500,0.000000,1.000000
6137,ARUNACHAL PRADESH,24,19893,536,0.253333,0.000000,1.000000
6138,NAGALAND,0,15683,417,0.666667,0.000000,1.000000

In [39]:
States=df["State Name"].unique()
print(States)
print(df['State Name'].value_counts())
print(df['State Name'].value_counts().count())

['MEGHALAYA' 'ANDHRA PRADESH' 'UTTAR PRADESH' 'GUJARAT' 'CHATTISGARH'
 'PUNJAB' 'RAJASTHAN' 'JAMMU AND KASHMIR' 'MAHARASHTRA' 'TAMIL NADU'
 'BIHAR' 'KERALA' 'KARNATAKA' 'ORISSA' 'ASSAM' 'MADHYA PRADESH'
 'LAKSHADWEEP' 'NAGALAND' 'HARYANA' 'MIZORAM' 'WEST BENGAL'
 'ARUNACHAL PRADESH' 'TRIPURA' 'HIMACHAL PRADESH' 'DADRA & NAGAR HAVELI'
 'JHARKHAND' 'PUDUCHERRY' 'UTTARAKHAND' 'GOA' 'MANIPUR' 'CHANDIGARH'
 'SIKKIM' 'DAMAN & DIU']
ANDHRA PRADESH          1099
UTTAR PRADESH            776
BIHAR                    458
TAMIL NADU               381
WEST BENGAL              340
MAHARASHTRA              333
ORISSA                   307
MADHYA PRADESH           292
RAJASTHAN                224
ASSAM                    214
GUJARAT                  206
JHARKHAND                197
KARNATAKA                171
KERALA                   147
CHATTISGARH              135
PUNJAB                   135
JAMMU AND KASHMIR        120
HARYANA                  112
UTTARAKHAND               93
ARUNACHAL PRADESH         83
HIMACHAL PRADESH          70
NAGALAND                  63
MANIPUR                   41
MEGHALAYA                 39
TRIPURA                   37
MIZORAM                   22
GOA                       11
DADRA & NAGAR HAVELI      10
SIKKIM                     9
LAKSHADWEEP                9
PUDUCHERRY                 3
CHANDIGARH                 1
DAMAN & DIU                1
Name: State Name, dtype: int64
33

In [40]:
replace_map={'State Name':{'ANDHRA PRADESH':1, 'ARUNACHAL PRADESH':2, 'ASSAM':3, 'BIHAR':4, 'CHANDIGARH':5,
 'DADRA & NAGAR HAVELI':6, 'DAMAN & DIU':7, 'GOA':8, 'GUJARAT':9, 'HARYANA':10, 'HIMACHAL PRADESH':11, 'JAMMU AND KASHMIR':12,
'KARNATAKA':13, 'KERALA':14, 'MADHYA PRADESH':15, 'MAHARASHTRA':16, 'LAKSHADWEEP':17, 'MEGHALAYA':18, 'MIZORAM':19,
 'NAGALAND':20, 'ORISSA':21, 'PUDUCHERRY':22, 'PUNJAB':23, 'RAJASTHAN':24, 'SIKKIM':25, 'TAMIL NADU':26,
 'TRIPURA':27, 'UTTAR PRADESH':28, 'WEST BENGAL':29, 'CHATTISGARH':30, 'JHARKHAND':31, 'UTTARAKHAND':32, 'MANIPUR':33}}

In [41]:
labels = df['State Name'].astype('category').cat.categories.tolist()
replace_map_comp = {'State Name' : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}

print(replace_map_comp)

{'State Name': {'ANDHRA PRADESH': 1, 'ARUNACHAL PRADESH': 2, 'ASSAM': 3, 'BIHAR': 4, 'CHANDIGARH': 5, 'CHATTISGARH': 6, 'DADRA & NAGAR HAVELI': 7, 'DAMAN & DIU': 8, 'GOA': 9, 'GUJARAT': 10, 'HARYANA': 11, 'HIMACHAL PRADESH': 12, 'JAMMU AND KASHMIR': 13, 'JHARKHAND': 14, 'KARNATAKA': 15, 'KERALA': 16, 'LAKSHADWEEP': 17, 'MADHYA PRADESH': 18, 'MAHARASHTRA': 19, 'MANIPUR': 20, 'MEGHALAYA': 21, 'MIZORAM': 22, 'NAGALAND': 23, 'ORISSA': 24, 'PUDUCHERRY': 25, 'PUNJAB': 26, 'RAJASTHAN': 27, 'SIKKIM': 28, 'TAMIL NADU': 29, 'TRIPURA': 30, 'UTTAR PRADESH': 31, 'UTTARAKHAND': 32, 'WEST BENGAL': 33}}

In [42]:
df_replace=df.copy()

In [43]:
df_replace.replace(replace_map_comp, inplace=True)


print(df_replace.head())

       Block Name  State Name  SC Current Population  ST Current Population  \
0       12-SHNONG          21                      0                  34451
1   A.KONDURU(11)           1                  10619                  11199
2  AASPUR DEVSARA          31                  41548                     39
3          ABDASA          10                  12101                   6495
4        ABHANPUR           6                  34072                  11203

   GENERAL Current Population  SC Covered Population  ST Covered Population  \
0                         323                      0                  29857
1                       30577                  10619                  11199
2                      144603                  41548                     39
3                       94969                  12088                   6469
4                      143387                  29570                   9568

   GENERAL Covered Population    Status  SC Concentrated  ST Concentrated
0                         122  0.736486         0.000000         1.000000
1                       30577  1.000000         0.210526         0.315789
2                      144603  1.000000         0.252727         0.000000
3                       79292  0.815789         0.019737         0.006579
4                      123265  0.000000         0.178414         0.022026

In [25]:
df_replace.drop(['Unnamed: 0'],axis=1)

KeyError: "['Unnamed: 0'] not found in axis"

In [44]:
df_new=df_replace.drop(['Block Name','SC Covered Population','ST Covered Population',
            'GENERAL Covered Population'],axis=1)

In [45]:
df_new.head()

,State Name,SC Current Population,ST Current Population,GENERAL Current Population,Status,SC Concentrated,ST Concentrated
0,21,0,34451,323,0.736486,0.000000,1.000000
1,1,10619,11199,30577,1.000000,0.210526,0.315789
2,31,41548,39,144603,1.000000,0.252727,0.000000
3,10,12101,6495,94969,0.815789,0.019737,0.006579
4,6,34072,11203,143387,0.000000,0.178414,0.022026

In [48]:
print(df_new.mean(axis=0))
print(df_new.max())

State Name                       16.463593
SC Current Population         24809.388663
ST Current Population         14664.331487
GENERAL Current Population    99389.355107
Status                            0.690808
SC Concentrated                   0.150426
ST Concentrated                   0.189418
dtype: float64
State Name                    3.300000e+01
SC Current Population         3.380550e+05
ST Current Population         3.464920e+05
GENERAL Current Population    1.086222e+06
Status                        1.000000e+00
SC Concentrated               9.907216e-01
ST Concentrated               1.000000e+00
dtype: float64

In [ ]:
df_association=['State Name','SC Current Population<','ST Current Population','GENERAL Current Population','Status','SC Concentrated','ST Concentrated']